
@{
    ViewBag.Title = "Index";
}

<h2>Upper-right coordinates</h2>

<form method="post">
    <div>
        <label for="xCoordinate">X coordinate</label>
        <input type="number" id="xCoordinate" name="x" required>
    </div>
    <div>
        <label for="yCoordinate">Y coordinate</label>
        <input type="number" id="yCoordinate" name="y" required>
    </div>
    <input type="submit" value="Set" />
</form>

